@import "@/styles/variables/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: $text-color-main;
  font-size: 2.5rem;
}

a {
  color: $text-color-main;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-comfortaa);
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

#portal {
  position: fixed;
  top: 0;
}

.slick-slide {
  padding: 0 20px;
}