.wrapper {
  position: relative;
  height: 500px;
  border-radius: 30px;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &:hover, &:focus {
    .titleContainer {
      opacity: 1;
    }
  }
}

.activeContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.image {
  border: 3px solid white;
  border-radius: 30px;
  position: absolute;
  object-fit: cover;
}

.titleContainer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-duration: 0.3s;
}