@import "@/styles/variables/variables";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1.25rem;
  font-family: var(--font-montserrat);
  margin-left: 5px;
  color: $text-color-accent;
}

.input {
  position: relative;
  appearance: none;
  border: 2px solid $btn-main-color;
  padding: 9px;
  border-radius: 2px;
  margin-bottom: 0;

  &:checked:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("/Check.svg") center no-repeat;
    background-size: 14px;
  }
}