@import "@/styles/variables/variables";

.wrapper {
  padding-inline: 195px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-gotham-pro), sans-serif;
  font-size: 12.5rem;
  color: $text-color-accent;
  opacity: 0.15;
  font-weight: 600;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 48px;
}

.newMenuBtn {
  height: fit-content;
}

.menus {
  margin-top: 195px;
}

.empty {
  font-size: 2rem;
  opacity: 0.25;
  margin-bottom: 5rem;
}
