@import "@/styles/variables/variables";

.wrapper {
  margin-top: 200px;
  display: flex;
  gap: 30px;
  justify-content: center;
  color: $text-color-accent;
  text-decoration: none;

  a {
    color: $text-color-main;
  }

  address {
    font-style: normal;
  }
}

.info {
  display: flex;
  flex-direction: column;
  background-color: $restaurant-info-bg-color;
  border: 2px solid $restaurant-info-border-color;
  border-radius: 30px;
  padding: 32px;


  h3 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 60px;
  }
  h4 {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }
}

.text {
  font-size: 1.25rem;
  display: block;
  color: $text-color-main;
}

.tags {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;
  max-height: 400px;
  gap: 20px;

  > li {
    width: 50%;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address, .phone, .website {
  padding-left: 40px;
  padding-block: 3px;
  background-repeat: no-repeat;
  background-size: 30px;
}

.address {
  background-image: url("/icons/Location.svg");
}

.phone {
  background-image: url("/icons/Phone.svg");
}

.website {
  background-image: url("/icons/Website.svg");
}

.btn {
  max-width: 330px;
  align-self: flex-end;
}

.mapContainer {
  width: fit-content;
  background-color: $restaurant-info-bg-color;
  border: 2px solid $restaurant-info-border-color;
  border-radius: 30px;
  padding: 40px;
}

.map {
  width: 500px;
  height: 500px;
}
