@import "@/styles/variables/variables";

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.input {
  margin-bottom: 20px;
}

.checkbox {
  margin-bottom: 10px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 330px;
}

.error {
  font-size: 0.75rem;
  max-width: 17rem;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 25px;
  color: $text-color-error;
}