@import "@/styles/variables/variables";

.title {
  font-size: 2.5rem;
  text-decoration: underline 5px $text-color-underline;
  transition-duration: 0.2s;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 30px;
}

.titleContainer {
  margin-left: 130px;
  margin-bottom: 100px;
  display: flex;

  &:has(.edit:hover) {
    color: $text-color-accent;
  }

  &:has(.delete:hover) {
    color: red;
  }
}

.edit {
  margin-left: 20px;
}