@import "@/styles/variables/variables";

.title {
  font-size: 2.5rem;
  text-decoration: underline 5px $text-color-underline;
  margin-left: 130px;
  margin-bottom: 100px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 30px;
}