@import "@/styles/variables/variables";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  font-family: var(--font-montserrat);
  border-radius: 50px;
  color: $text-color-accent;
  transition-duration: 0.2s;

  &:disabled {
    cursor: default;
  }
}

.comfortaa {
  font-family: var(--font-comfortaa);
  font-weight: 700;
}

.small {
  font-size: 1.25rem;
}

.filled {
  color: black;
  background-color: $btn-main-color;

  &:hover {
    background-color: $btn-main-hover-color;
  }

  &:disabled {
    color: $btn-text-disabled-color;
    background-color: $btn-disabled-color;
  }
}

.outlined {
  background: none;
  border: 2px solid $btn-main-color;

  &:hover {
    border-color: $btn-main-hover-color;
  }

  &:disabled {
    color: $btn-disabled-color;
    border-color: $btn-disabled-color;
  }
}

.iconStyle {
  padding: 0;
  border-radius: 0;
  background: none;

  img {
    padding: 0;
    margin: 0;
  }
}

.flat {
  padding: 0;
  border-radius: 0;
  background: none;

  &:hover {
    color: $btn-main-hover-color;
  }

  &:disabled {
    color: $btn-disabled-color;
  }
}

.icon {
  margin-right: 15px;

  &_right {
    order: 1;
    margin-right: 0;
    margin-left: 15px;
  }
}

.gray {
  color: $text-color-main;

  &.filled {
    background-color: $btn-gray-color;
    border: 1px solid $btn-gray-outline-color;

    &:hover {
      background-color: $btn-gray-hover-color;
      border-color: $btn-gray-outline-hover-color;
    }

    &:disabled {
      color: $btn-text-disabled-color;
      background-color: $btn-disabled-color;
    }
  }

  &.outlined {
    background: none;
    border: 2px solid white;

    &:hover {
      border-color: $btn-gray-outline-hover-color;
    }

    &:disabled {
      color: $btn-text-disabled-color;
      border-color: $btn-disabled-color;
    }
  }

  &.flat {
    padding: 0;
    border-radius: 0;
    background: none;

    &:disabled {
      color: $btn-disabled-color;
    }
  }
}

.padding {
  padding: 15px 20px;
}