@import "@/styles/variables/variables";

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 450px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.input {
  margin-bottom: 20px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 230px;
}

.error {
  font-size: 0.75rem;
  max-width: 17rem;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 30px;
  color: $text-color-error;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}