@import "@/styles/variables/variables";

.imageInputWrapper {
  position: relative;
  text-align: center;
  margin-top: 15px;
  padding-left: 20px;
  margin-bottom: 25px;
  width: fit-content;
}

.imageInput {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.imageInputBtn {
  width: 100%;
  color: $text-color-main;
  font-family: var(--font-comfortaa);
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}