@import "@/styles/variables/variables";

.day{
  font-size: 1.25rem;
}

.time {
  font-size: 0.75rem;
  color: $text-color-main;
}

.list {
  display: flex;
  text-align: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 400px;
}