@import "@/styles/variables/variables";

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.input {
  font-size: 1.25rem;
  background: none;
  padding: 24px 30px;
  border: 2px solid $input-border-color;
  border-radius: 50px;
  color: $text-color-main;
  min-width: 320px;
}

.eye {
  position: absolute;
  cursor: pointer;
  right: 20px;
}