$bg-color: #111111;

$text-color-main: #ffffff;
$text-color-accent: #00F100;
$text-color-error: #ff004d;

$green-glow-color: #00F100;

$btn-main-color: #00F100;
$btn-gray-color: rgba(255, 255, 255, 0.1);
$btn-gray-outline-color: white;
$btn-disabled-color: #323232;

$modal-border-color: #00F100;

$input-border-color: #00F100;

$restaurant-info-bg-color: rgba(0, 241, 0, 0.04);
$restaurant-info-border-color: #00F100;

$rating-color-good: #00F100;
$rating-color-ok: #e9f100;
$rating-color-bad: #f14800;