$bg-color: #111111;

$text-color-main: #ffffff;
$text-color-accent: #00F100;
$text-color-transparent-7: rgba(255, 255, 255, 0.7);
$text-color-transparent-4: rgba(255, 255, 255, 0.4);
$text-color-error: #ff004d;
$text-color-underline: rgba(0, 241, 0, 0.7);

$green-glow-color: #00F100;
$red-glow-color: #760408;

$btn-main-color: #00F100;
$btn-main-hover-color: #009600;
$btn-gray-color: rgba(255, 255, 255, 0.1);
$btn-gray-hover-color: rgba(255, 255, 255, 0.2);
$btn-gray-outline-color: white;
$btn-gray-outline-hover-color: rgba(255, 255, 255, 0.8);
$btn-disabled-color: rgba(63, 63, 63, 0.75);
$btn-text-disabled-color: rgba(0, 0, 0, 0.5);

$modal-border-color: #00F100;

$footer-border-color: rgba(0, 241, 0, 0.3);

$input-border-color: #00F100;

$restaurant-info-bg-color: rgba(0, 241, 0, 0.04);
$restaurant-info-border-color: #00F100;

$rating-color-good: #00F100;
$rating-color-ok: #e9f100;
$rating-color-bad: #f14800;