@import "@/styles/variables/variables";

.wrapper {
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid $modal-border-color;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}

.transparent {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
}