.imgs {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  margin-top: 150px;
  margin-bottom: 320px;

  img {
    &:nth-child(1) {
      filter: drop-shadow(0px 0px 100px #CA9914);
    }

    &:nth-child(2) {
      filter: drop-shadow(0px 0px 100px #D9430B);
    }

    &:nth-child(3) {
      filter: drop-shadow(0px 0px 100px #D2379B);
    }
  }
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20%;
  gap: 24px;
  margin-top: 90px;
}

.title {
  font-size: 2.5rem;
  color: #00F100;
  flex: 1;
}

.search {
  flex: 1;
}

.filtersBtn {
  padding: 15px 50px;
}

.popular {
  margin-inline: 15%;

  h3 {
    font-size: 2.5rem;
    color: #00F100;
    margin-bottom: 80px;
  }
}

.filteredSection {
  margin-inline: 15%;

  h3 {
    font-size: 2.5rem;
    color: #00F100;
    margin-bottom: 80px;
  }
}