@import "@/styles/variables/variables";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(750px, 1fr));
  gap: 1.5rem;

  & > li > div {
    height: 100%;
  }
}

.title {
  font-family: var(--font-gotham-pro);
  font-size: 12.5rem;
  color: $text-color-accent;
  opacity: 0.15;
  font-weight: 600;
  margin-bottom: 30px;
}